

h2{
    text-align: center; 
    font-size: 30px;
    color: #000;
}
#slider{
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;
    position: relative;
    align-items: center;
    
}
.collect{
    width: 800px;
    height: 450px;
    border-radius: 50px;
    border: 1px black solid;
    margin-left: 200px;
    margin-right: 200px;
}
div.collect {border-style: groove;}

#Prev{
    width: 60px;
    height: 48px;
    border-radius: 30px;
    background-color: pink;
}
#Next{
    width: 60px;
    height: 48px;
    border-radius: 30px;
    background-color: pink;
    
    
}

/*.in-imgl/*{
    position:absolute;
    margin-left: -280px;
    margin-top: 220px;
}
.in-imgr{
    position:absolute;
    margin-right: 580px;
    margin-top: 220px;
}*/

