body{
    text-align: left;
    padding: 0px 10px 300px 300px;
}
#masv{
    width: 450px;
    height: 30px;
    border-radius: 3px;
    border: 0.5px gray solid;
        
  }
#htsv{
    width: 450px;
    height: 30px;
    border-radius: 3px;
    border: 0.5px gray solid;
}
#email{
    width: 450px;
    height: 30px;
    border-radius: 3px;
    border: 0.5px gray solid;
}
#gioitinh{
    width: 455px;
    height: 35px;
    border-radius: 3px;
    border: 0.5px gray solid;
}
#sothich{
    width: 455px;
    height: 35px;
    border-radius: 3px;
    border: 0.5px gray solid;
}
#Quocgia{
    width: 455px;
    height: 35px;
    border-radius: 3px;
    border: 0.5px gray solid;
}
#ghichu{
    width: 455px;
    height: 60px;
    border-radius: 3px;
    border: 0.5px gray solid;
}
#dangki{
    border-radius: 30px;
    width: 120px;
    height: 40px;
    background-color:darkgray;
    border: 0.5px gray solid;
}